@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s 1 forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.input-display {
  @apply appearance-none text-4xl p-3 text-center focus:outline-none;
}

/* buttons */

.btn-reg {
  @apply px-2 py-1 rounded text-sm;
}

.btn-circle {
  @apply rounded-full p-1;
}

.btn-primary {
  @apply bg-neutral-800 text-white transition-all duration-200
    hover:bg-neutral-500;
}

.btn-inverted {
  @apply bg-neutral-500 text-white transition-all duration-200
  hover:bg-emerald-700
}

.btn-text-primary {
  @apply text-neutral-800 transition-all cursor-pointer
    hover:text-emerald-600;
}

/* borders and background*/
.brd-primary {
  @apply border-neutral-300;
}

.bg-primary {
  @apply bg-neutral-50;
}

.card-primary {
  @apply border border-neutral-300 rounded-lg bg-neutral-50;
}

/* input */
.inp-primary {
  @apply rounded placeholder-neutral-400
   border-neutral-300 border bg-white
  focus:outline-2 focus:outline-neutral-800;
}

.inp-solid {
  @apply rounded placeholder-neutral-400
}

.inp-sm {
  @apply p-1 text-sm;
}

.inp-reg {
  @apply px-2 py-1;
}

/* text */

.text-primary {
  @apply text-neutral-800;
}

.text-secondary {
  @apply text-neutral-400;
}

.scale {
  @apply hover:scale-110;
}
