@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s 1 forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.input-display {
  @apply appearance-none text-4xl p-3 text-center focus:outline-none;
}

/* buttons */

.btn-reg {
  @apply px-2 py-1 rounded text-sm;
}

.btn-circle {
  @apply rounded-full p-1;
}

.btn-sm {
  @apply text-xs p-1 rounded;
}

.btn-primary {
  @apply bg-emerald-700 text-white transition-all duration-200
    hover:bg-emerald-900;
}

.btn-inverted {
  @apply transition-all hover:bg-emerald-700 hover:text-white;
}

.btn-text-primary {
  @apply text-neutral-800 transition-all cursor-pointer
    hover:text-emerald-600;
}

/* borders and background*/
.brd-primary {
  @apply border-neutral-300;
}

.bg-primary {
  @apply bg-neutral-50;
}

.card-primary {
  @apply border-y;
}

/* input */
.inp-primary {
  @apply rounded-sm placeholder-neutral-500 bg-smoke focus:outline-emerald-700 focus:bg-white;
}

.inp-select {
  @apply rounded-sm bg-smoke focus:outline-emerald-700 focus:text-white focus:bg-emerald-700
}

.inp-solid {
  @apply rounded placeholder-neutral-400;
}

.inp-sm {
  @apply p-1 text-sm;
}

.inp-reg {
  @apply px-2 py-1;
}

/* text */

.text-primary {
  @apply text-neutral-800;
}

.text-secondary {
  @apply text-neutral-400;
}

.scale {
  @apply hover:scale-110;
}
