@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-abyss
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s 1 forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.input-display {
  @apply appearance-none text-4xl p-3 text-center focus:outline-none;
}

/* buttons */

.btn-reg {
  @apply px-2 py-1 rounded-sm text-sm;
}

.btn-circle {
  @apply rounded-full p-1;
}

.btn-sm {
  @apply text-xs p-1 rounded-sm;
}

.btn-primary {
  @apply bg-fern text-white transition-all duration-200
    hover:bg-jungle;
}

.btn-inverted {
  @apply transition-all hover:bg-fern hover:text-white;
}

.btn-text-primary {
  @apply text-abyss transition-all cursor-pointer
    hover:text-fern;
}

/* borders and background*/

/* input */
.inp-primary {
  @apply rounded-sm placeholder-concrete bg-smoke focus:outline-fern focus:bg-white;
}

.inp-select {
  @apply rounded-sm bg-smoke focus:outline-fern focus:text-white focus:bg-fern
}

.inp-sm {
  @apply p-1 text-sm;
}

.inp-reg {
  @apply px-2 py-1;
}

/* text */

.scale {
  @apply hover:scale-110;
}
